{% extends 'base.html.twig' %}

{% block title %}E-liquide Frais/Givré
{% endblock %}

{% block body %}
	<main>
		<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs ">
			<div class="container">

				<div class="d-flex justify-content-end align-items-center">
					<ol class="mt-4">
						<li>
							<a href="{{path('home')}}">Accueil</a>
						</li>
						<li>E-liquide</li>
						<li>Frais Givré</li>
					</ol>
				</div>

			</div>
		</section>
		<!-- End Breadcrumbs -->

		<!-- ======= About MODS Section ======= -->
		<section id="about-cat" class="about-cat">
			<div class="container" data-aos="fade-up">
				<div class="row content d-flex justify-content-center">
					<div class="col-lg-8 col-ms-12 text-center" data-aos="fade-up">
						<h1>Frais/Givré</h1>
						<p>Pour les adeptes de la fraîcheur cette catégorie englobe un large choix de goûts mentholés , réglisse...Mais aussi les parfums fruités et givrés</p>
					</div>
				</div>
			</div>
		</section>
		<!-- End About MODS Section -->

		<!-- ======= Products Section======= -->
		<section  class=" section-bg mt-5" data-aos="fade-up">
			<div class="container-fluid">
				<div class="row d-flex justify-content-center align-content-start">
					<!-- ======= Show Products ======= -->
						<div class="row">
							{% for product in products %}
								<div class="col-lg-3 col-md-6 col-ms-6 col-xs-6 d-flex align-items-stretch">
									<div class="products">
										<div class="products-img">
											<div class="product-image-slider swiper">
												<div class="swiper-wrapper ">
													{% for image in product.images %}
														<div class="swiper-slide ">
															<a href="{{path('eliquide_show_details',{'slug':product.product.slug})}}">
																<img src="{{ asset('uploads/'~ image.name) }}" width="300" height="300" alt="{{product.product.name}}"></a>
														</div>
													{% endfor %}
												</div>
												<div class="swiper-pagination"></div>
											</div>
										</div>
										<div class="products-info">
											<h2>{{product.product.name}}</h2>
											<p>{{((product.product.price)/100)|number_format(2)}}
												€</p>
											<button>
												<a href=" {{path('eliquide_show_details',{'slug':product.product.slug} )}}">Détails</a>
											</button>
											<button>
												<a href="{{path('eliquide_show_details',{'slug':product.product.slug} )}}">
													<i class="bi bi-bag-plus-fill"></i>
												</a>
											</button>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					<!-- ======= End Show Products  ======= -->
				</div>
			</div>
		</section>
		<!-- End products Section -->

		<div class="d-flex justify-content-center mt-3 ">
			{{ knp_pagination_render(productPagination) }}
		</div>
	</main>
{% endblock %}
