{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs">
			<div class="container">

				<div class="d-flex justify-content-end align-items-center">
					<ol class="mt-4">
						<li>
							<a href="{{path('home')}}">Accueil</a>
						</li>
						<li>mon compte</li>
					</ol>
				</div>

			</div>
		</section>
	<!-- ======= Account Section ======= -->
	<section class="account mt-5">
		<div class="container">

			<div class="section-title mt-5">
				<h1>Espace membre
					{{user.getFullName}}</h1>

			</div>

			<div class="row  d-flex justify-content-center">
				<div class="col-lg-10 col-12">
					<div class="row">
						<div class="col-lg-3">
							<ul class="nav nav-tabs flex-column">
								<li class="nav-item">
									<a class="nav-link active show" data-bs-toggle="tab" href="#info-perso"><i class="bi bi-info-circle-fill me-3"></i>Mes informations personnelles</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#address"><i class="bi bi-house-door-fill me-3"></i>Mes adresse</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#commande"><i class="bi bi-box2-heart-fill"></i>Mes commandes</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-9 mt-4 mt-lg-0">
							<div class="tab-content">
								<div class="tab-pane active show" id="info-perso">
									<div class="row ">
										<div class="col-lg-12 details order-2 order-lg-1">
											<h3>Mes informations personnelles</h3>
											<p class="fst-italic">
												<i>Mon adresse email :
												</i>
												{{user.email}}
											</p>
											
											<p class="fst-italic">
												<i>Nom :
												</i>
												{{user.getFullName}}</p>
											<p>
												<a href="{{path('account_update_password',{'id':user.id})}}">Modifier mon mot de passe
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="address">
									<div class="row">
										<div class="col-lg-12 details order-2 order-lg-1">
											<h3>Mes adresses</h3>
											<p class="fst-italic">
												<a href="{{path('add_addresse')}}">Ajouter une adresse</a>
											</p>

											<div class="row gy-3">
												{% for addresse in addresses %}
													<div class="col-12 col-md-6">
														<div class="card">
															<div class="card-body">
																<h5 class="card-title">{{addresse.name}}</h5>
																<p class="card-text">
																	<i>Adresse :</i>
																	{{addresse.addresse}}</p>
																<p class="card-text">
																	<i>Code postale :</i>
																	{{addresse.postal}}</p>
																<p class="card-text">
																	<i>Ville :</i>
																	{{addresse.city}}</p>
																<p class="card-text">
																	<i>Téléphone :</i>
																	{{addresse.phone}}</p>
																<button><a href="{{path('update_addresse',{'id':addresse.id})}}" class="card-link">Modifier</a></button>
																<button><a href="{{path('delete_addresse',{'id':addresse.id})}}" class="card-link">Supprimer</a></button>
															</div>
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="commande">
									<div class="row">
										<div class="col-lg-12 details order-2 order-lg-1">
											<h3>Mes commandes</h3>
											{% if orders|length >0 %}
										<div class="row gy-3 ">
												{% for order in orders %}
													<div class="col-12 col-md-6">
														<div class="card">
															<div class="card-body">
																<h5 class="card-title">Commande n°{{order.reference}}</h5>
																<p class="card-text">
																	<i>Commande passer le :</i>
																	{{order.createdAt|date('d-m-Y')}}</p>
																<p class="card-text">
																	<i>Mode de livraison:</i>
																	{{order.deliveryMethod}}</p>
																{% if order.deliveryMethod == 'livraison à domicile' %}
																<p class="card-text">
																	<i>Adresse de livraison :</i>	
																	{{order.addresse| raw}}</p>
																{% endif %}
																<p class="card-text">
																	<i>Total de la commande:</i>
																	{{((order.total)/100)|number_format(2)}} €</p>
																<button><a href="{{path('account_order_details',{'id':order.id})}}" class="card-link">Voir les détails</a></button>
																<button><a href="{{path('summary_order',{'id':order.id})}}" class="card-link"><i class="bi bi-box-arrow-down me-1"></i>Facture</a></button>
															</div>
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
										{% else %}
										<p>Vous n'avez pas passer de commande sur notre site</p>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- End Account Section -->
{% endblock %}
