{% extends 'base.html.twig' %}
{% block meta %}
	<meta content="site iclope est un site de vente de e-cigarette ,e-liquide et CBD" name="description">
	<meta content="" name="keywords">
{% endblock %}
{% block title %}Accueil
{% endblock %}
{% block body %}
	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

			<div
				class="carousel-inner" role="listbox">

				<!-- Slide 1 -->
				<div class="carousel-item active" style="background-image: url(/assets/img/fumee.jpg);">
					<div class="carousel-container d-flex justify-content-between align-items-center">

						<div class="carousel-content animate__animated animate__fadeInLeft">
							<h2 class="h2">E-cigarette
							</h2>
							<p>Depuis 2009 , la cigarette éléctronique a su trouver sa place  dans le monde des fumeurs .Idéale pour un sevrage nicotinique progressif, bien plus élégante et 95% moins nocive q'une cigarette classique , elle permet également aux fumeurs de réaliser de belles économies.</p>
							<div >
								<a href="{{path('mods')}}" class="btn-get-started">Voir les produits</a>
							</div>
						</div>
						<div class="carousel-content-img d-none d-md-block d-flex jutify-content-end animate__animated animate__fadeInRight">
							<div><img src="{{asset("assets/img/e-cigarette1.png")}}" alt="e-cigarette"></div>
						</div>

					</div>
				</div>

				<!-- Slide 2 -->
				<div class="carousel-item" style="background-image: url(/assets/img/fumee.jpg);">
					<div class="carousel-container d-flex justify-content-between align-items-center">
						<div class="carousel-content animate__animated animate__fadeInLeft">
							<h2 class="h2">E-liquide
							</h2>
							<p>Adepte de fraîcheur, de gourmandise, de fruits ou de saveurs tabac classique ou puissant, l'avantage indéniable de la vape est su'il y en a pour tous les goûts.Notre boutique vous propose un grand choix de saveurs.</p>
							<div >
								<a href="{{path('classique_tabac')}}" class="btn-get-started">Voir les produits</a>
							</div>
						</div>
						<div class="carousel-content-img d-none d-md-block d-flex jutify-content-end animate__animated animate__fadeInRight">
							<div><img src="{{asset("assets/img/e-liquide.png")}}" alt="e-liquide"></div>
						</div>
					</div>
				</div>

				<!-- Slide 3 -->
				<div class="carousel-item" style="background-image: url(/assets/img/fumee.jpg);">
					<div class="carousel-container d-flex justify-content-between align-items-center">
						<div class="carousel-content animate__animated animate__fadeInLeft">
							<h2 class="h2">CBD
							</h2>
							<p>Excellente alternative au THC, le CBD s'est fait une place de choix dans le traitement de divers maux et la relaxation sous forme de fleurs, d'huile ou d'infusion, I-CLOPE vous propose une séléction des meilleurs produits ou CBD.</p>
							<div >
								<a href="{{path('infusion')}}" class="btn-get-started">Voir les produits</a>
							</div>
						</div>
						<div class="carousel-content-img d-none d-md-block d-flex jutify-content-end animate__animated animate__fadeInRight">
							<div><img src="{{asset("assets/img/cbd.png")}}" alt="cbd"></div>
						</div>
					</div>
				</div>

			</div>


			<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

		</div>
	</section>
	<!-- End Hero -->

	<!-- ======= Is New Section ======= -->
	<section  class="bestseller section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Nos nouveautés</h2>
			</div>
			<div class="bestseller-slider swiper" data-aos="fade-up" data-aos-delay="100">
				<div class="swiper-wrapper">
					{% for product in newProducts %}
					
						<div class="swiper-slide">
							<a href="{{path('ecigarette_show_details',{'slug':product.product.slug})}}">
								<div class="products " data-aos="zoom-in" data-aos-delay="100">
									<img src="{{asset('uploads/'~ product.image.name)}}" width="336" height="336" alt="{{product.image.name}}">
									<div class="products-info">
										<div class="products-info-content">
											<h3>{{product.product.name}}</h3>
											<p>{{((product.product.price)/100)|number_format(2)}}€</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</section>
	<!-- End Is New Section -->

	<!-- ======= BestSeller Section ======= -->
	<section  class="bestseller section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Nos produits les mieux vendu</h2>
			</div>
			<div class="bestseller-slider swiper" data-aos="fade-up" data-aos-delay="100">
				<div class="swiper-wrapper">
					{% for product in products %}
						<div class="swiper-slide">
							<a href="{{path('ecigarette_show_details',{'slug':product.product.slug})}}">
								<div class="products " data-aos="zoom-in" data-aos-delay="100">
									<img src="{{asset('uploads/'~ product.image.name)}}" width="336" height="336" alt="{{product.image.name}}">
									<div class="products-info">
										<div class="products-info-content">
											<h3>{{product.product.name}}</h3>
											<p>{{((product.product.price)/100)|number_format(2)}}€</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</section>
	<!-- End BestSeller Section -->

	<!-- ======= About section ======= -->
	<section  class=" section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Qui sommes nous</h2>
			</div>
			<div class="d-flex justify-content-center">
				<div class="collg-8 col-md-10 col-ms-11">
					<p>
						I-CLOP conseille et fournit les personnes désireuses d'arrêter de fumer
						 depuis plus de 7 ans . Afin de proposer une alternative de sevrage à chacun , nous avons enrichi notre gamme avec des produits au CBD.<br>
						Ce site internet est destiné à nos clients de Mouans-sartoux et alentours
						,il vous permet de passer commande , choisir le jour et l'heure de son
						retrait en magasin ,vous faisant ainsi gagner un peu de temps .
					</p>
					<p>Pour ceux et celles qui ne peuvent venir aux horaires d'ouverture , nous avons mis en place 
					un service de livraison  à domicile entre 20h et 21h30 , pour toute commande passée avant 18h30 sur notre site et d'un montant minimum de 50€ .Paiment en CB ou éspèces à la livraison.
					</p>
					<p>
						Si vous souhaitez vous lancer dans la vape où le CBD , n'hésitez pas à passer au magasin où nous serons  plus à même de vous trouver le matériel , les produits adaptés à votre profil et vous dispenser les 
						les conseils indispensables pour bien débuter.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- ======= Services Section ======= -->
	<section  class="services section-bg ">
		<div class="container" data-aos="fade-up">

			<div class="row">
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box ">
						<div class="icon">
							<i class="bi bi-stopwatch"></i>
						</div>
						<h4>Rapidité de livraison</h4>
						<p>Éxpédition le jour même pour les commandes passées avant 18h30</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<div class="icon">
							<i class="bi bi-currency-exchange"></i>
						</div>
						<h4>Paiement sécurisé</h4>
						<p>Paiement en carte bleue ou espèces à la livraison ou au click & collecte</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
					<div class="icon-box">
						<div class="icon">
							<i class="bi bi-truck"></i>
						</div>
						<h4>Livraison gratuite</h4>
						<p>Livraison gratuite dans la ville de mouans-sartoux à partir de 50€ d'achat</p>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- End Services Section -->
{% endblock %}
