{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
		<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs ">
			<div class="container">

				<div class="d-flex justify-content-end align-items-center">
					<ol class="mt-4">
						<li>
							<a href="{{path('home')}}">Accueil</a>
						</li>
						<li>Inscription</li>
					</ol>
				</div>

			</div>
		</section>
		<!-- End Breadcrumbs -->
	<section id="contact" class="contact mt-5">
		<div class="container">
			<div class="section-title mt-5" data-aos="fade-up">
				<h2>Inscription</h2>
			</div>


			<div class="row mt-5 justify-content-center" data-aos="fade-up">

				<div class="col-lg-7  php-email-form">
					{{form_start(form)}}
					<div class="row">

						<div class="col-md-6 form-group">

							{{ form_row(form.firstName,{'label':false,'attr':{'placeholder':"Votre prénom",'class':'form-control'}})}}
						</div>
						<div class="col-md-6 form-group mt-3 mt-md-0">
							{{ form_row(form.lastName,{'label':false,'attr':{'placeholder':"Votre nom",'class':'form-control'}})}}
						</div>
					</div>
					<div class="form-group mt-3">
						{{ form_row(form.email,{'label':false,'attr':{'placeholder':"Votre email",'class':'form-control'}})}}
					</div>
					<div class="form-group mt-3">
						<p>Votre mot de passe doit contenir au moins une lette majuscule une lettre miniscule et un caractère spécial</p>
						{{ form_row(form.password,{'label':false,'attr':{'placeholder':"Votre mot de passe ",'class':'form-control'}})}}
					</div>
					<div class="form-group mt-3">
						{{ form_row(form.confirmPassword,{'label':false,'attr':{'placeholder':" Confirmer votre mot de passe ",'class':'form-control'}})}}
					</div>
					<div class="form-check">
						{{ form_row(form.agreeTerms,{'label':"J'ai lu et accépter les conditions générale",'attr':{'class':'form-check-input','id':'flexCheckChecked'}})}}

					</div>
					<div class="error-message">{{message}}</div>
					<div class="text-center mt-3">
						{{ form_row(form.submit,{'label':'Valider','attr':{'class':'col-md-3 customButton'}})}}
					</div>


					{{form_end(form)}}

				</div>

			</div>

		</div>
	</section>
	<!-- End Contact Section -->

{% endblock %}
{% block javascripts %}

<script>

let errorMessage = document.querySelector('.error-message')
let formCheckInput = document.querySelector('.form-check-input')
let formCheckLabel = document.querySelector('.form-check-label')
console.log(errorMessage)
if ({{ errors }}) {
	formCheckLabel.style.color = 'red'
	formCheckInput.style.borderColor = 'red'
	errorMessage.style.display = 'block'
}
</script>


{% endblock %}
