{% set total=0 %}
{% for product in(app.session.get('cart')) %}
	{% set total= total+(product.quantity) %}
{% endfor %}
{% if app.request.get('_route') is not same as  'home' %}
<style>
#header {
  background: #fff;
}
</style>

{% endif %}


<header id="header" class="fixed-top">
	<div class="container d-flex align-items-center">
		<a href="{{path('home')}}" class="logo me-auto me-lg-0 d-flex flex-column justify-content-center">
			<img src="{{asset("assets/img/flower-familypng.png")}}" alt="" class="img-fluid inline-block" width="90">
			<p>by I-CLOP</p>
			</a>

		<nav id="navbar" class="navbar order-last order-lg-0 d-flex justify-content-center">
			<ul>
				<li>
					<a href="{{path('home')}}" class="active">Accueil</a>
				</li>
				{% for category in categories() %}
					<li class="dropdown">
						<a href="#">{{category.name}}
							<i class="bi bi-chevron-down"></i>
						</a>
						<ul>
						{% for subCategory in  category.subCategories %}
							<li><a href="{{path('products',{page:1 , category:category.name ,  subCategory: subCategory.name })}}" class="text-uppercase">{{ subCategory.name }}</a></li>
						{% endfor %}
						</ul>
					</li>
				{% endfor %}
				
				</li>
				
					<li class="dropdown d-none d-lg-block">
						
							<i class="bi bi-person-fill fs-4 ms-4"></i>
						<ul>
						{% if (app.user) %}
							<li><a href="{{path('account')}}"><i class="bi bi-person-lines-fill fs-5"></i>{{app.user.getFullName}}</a></li>
							<li><a href="{{path('app_logout')}}"><i class="bi bi-person-x-fill fs-5"></i>Déconnexion</a></li>
						{% else %}
							<li><a href="{{path('app_login')}}"><i class="bi bi-person-check-fill fs-5"></i>Connexion</a></li>
							<li><a href="{{path('registration')}}"><i class="bi bi-person-plus-fill fs-5"></i>Inscription</a></li>
						{% endif %}
						</ul>
					</li>
				<li class="d-none d-lg-block">
					<a href="{{path('cart')}}">
						<i class="bi bi-bag-fill fs-4"></i>
						<span class="card-count">{{total}}</span>
					</a>
				</li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
		<div class="navbar d-block d-lg-none ">
			<div class="list-unstyled  header-social-links d-flex">
				<li class="dropdown">
					<a href="#">
						<i class="bi bi-person-fill fs-4"></i>

					</a>
					<ul>
					{% if (app.user) %}
						<li><a href="{{path('account')}}"><i class="bi bi-person-lines-fill fs-5"></i>{{app.user.getFullName}}</a></li>
						<li><a href="{{path('app_logout')}}"><i class="bi bi-person-x-fill fs-5"></i>Déconnexion</a></li>
					{% else %}
						<li><a href="{{path('app_login')}}"><i class="bi bi-person-check-fill fs-5"></i>Connexion</a></li>
						<li><a href="{{path('registration')}}"><i class="bi bi-person-plus-fill fs-5"></i>Inscription</a></li>
					{% endif %}
					</ul>
				</li>
					
				<li>
					<a href="{{path('cart')}}">
						<i class="bi bi-bag-fill fs-4"></i>
						<span class="card-count">{{total}}</span>
					</a>
				</li>
			</div>
		</div>
	</div>
</header>
{% for label, messages in app.flashes %}
	<div class="alert alert-{{ label }} alert-dismissible fade show notification " role="alert">
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
