{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section id="contact" class="contact mt-5">
		<div class="container">
			<div class="section-title mt-5" data-aos="fade-up">
				<h2>Réinitialisation de mot de passe</h2>
			</div>


			<div class="row mt-5 justify-content-center" data-aos="fade-up">

				<div class="col-lg-8  php-email-form">
					{{form_start(form)}}

					<div class="form-group mt-3">
						<p>Votre mot de passe doit contenir au moins une lette majuscule une lettre miniscule et un caractère spécial</p>
						{{ form_row(form.newPassword,{'label':false,'attr':{'placeholder':"Votre mot de passe ",'class':'form-control'}})}}
					</div>
					<div class="form-group mt-3">
						{{ form_row(form.confirmNewPassword,{'label':false,'attr':{'placeholder':" Confirmer votre mot de passe ",'class':'form-control'}})}}
					</div>
					<div class="text-center mt-3">
						{{ form_row(form.submit,{'label':'Valider','attr':{'class':'col-md-3 customButton'}})}}
					</div>
					{{form_end(form)}}

				</div>

			</div>

		</div>
	</section>
	<!-- End Contact Section -->

{% endblock %}
