{% extends 'base.html.twig' %}
{% block meta %}
	  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block stylsheets %}
	<link rel="stylesheet" href="{{asset("assets/vendor/fullcalendar/lib/main.css")}}">
{% endblock %}
{% block title %}Commande flower family
{% endblock %}

{% block body %}
	<main
		id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs">
			<div class="container">

				<div class="d-flex  justify-content-end align-items-center">
					<ol class="mt-4">
						<li>
							<a href="{{path('home')}}">Accueil</a>
						</li>
						<li>Commande</li>
					</ol>
				</div>

			</div>
		</section>
		<!-- End Breadcrumbs -->

		<!-- ======= Contact Section ======= -->


		<section id="contact" class="contact container">
			<div class="container">
				<div class="section-title " data-aos="fade-up">
					<h1>Information de livraison de ma commande</h1>

				</div>
				<div>
					<div class="row  mt-5 justify-content-center" >
						
						<div class="col-lg-5 col-12" data-aos="fade-right" data-aos-delay='300'>
							{% set formHTML %}
								{{form_start(form)}}
								
								{{form_row(form.DeliveryMethod)}}
								{% if totalTTC > 50 %}

									{{form_row(form.Addresse,{'attr':{'class':'visually-hidden'}})}}

								{% endif %}
								{{form_end(form)}}
							{% endset %}
							{{formHTML | replace({'[br]': '<br>','&lt;div&gt;':'','&lt;/div&gt;':''}) | raw}}

						</div>

						<div class="col-lg-7 col-12 mt-4" data-aos="fade-left" data-aos-delay='300'>
							<div class="card text-center">
								<div class="card-header d-none d-lg-block">
									<div class="info-wrap ">
										<div class="row ">
											<div class="col-lg-4 info d-flex  align-items-center p-2">
												<div>
													<i class="bi bi-stopwatch"></i>
												</div>
												<div>
													<p>Expédition le jour même pour les commande passé avant 18h30</p>
												</div>
											</div>

											<div class="col-lg-4 info mt-4 mt-lg-0 d-flex align-items-center p-2">
												<div>
													<i class="bi bi-currency-exchange"></i>
												</div>
												<div>
													<p>Paiment à la livraison ou au click & collect</p>

												</div>
											</div>

											<div class="col-lg-4 info mt-4 mt-lg-0 d-flex align-items-center p-2">
												<div>
													<i class="bi bi-truck"></i>
												</div>
												<div>
													<p>Livraison gratuite à partir de 50€ d'achat</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% set total= null %}
								{% set totalProduct= null %}
								<div class="card-body cart">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Produit</th>
													<th scope="col">Prix unitaire</th>
													<th scope="col">Quantité</th>
													<th scope="col">total</th>

												</tr>
											</thead>
											<tbody>

												{% for product in products %}
													{% set total= total+((product.quantity)*(product.product.price)) %}
													{% set totalProduct=totalProduct+(product.quantity) %}
													<tr>
														<td scope="row d-flex flex-row justify-content-center align-items-center">
															<div>
																<img src="/uploads/{{product.image.name}}" width="100" class="img-fluid " alt="">
															</div>
															<div>
																{{product.product.name}}
																<br>{{product.specification}}
															</div>
														</td>
														<td>{{((product.product.price)/100)|number_format(2)}}€</td>
														<td>
															<div class="border border-light">

																<div>
																	{{product.quantity}}
																</div>

															</div>
														</td>
														<td>{{((product.product.price)*(product.quantity)/100)|number_format(2)}}€</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
								</div>
								
							</div>

							<div class=" text-end cart-details me-2">
								<p>Total produit :
									{{ totalProduct }}
								</p>
								<p>Total TTC :
									<span id="total">{{(total/100)|number_format(2)  }}</span>
									€
								</p>
							</div>

						</div>
					
					</div>
				</div>
				<div id="response" class="text-center"></div>
			</div>
		</section>
		<!-- End Contact Section -->

	</main>
	<!-- End #main -->
{% endblock %}
{% block javascripts %}
<script>
	
	let addresses=document.getElementById('order_Addresse')
	console.log(addresses.children[0])
	addresses.children[0].remove()
	{# addresses.classList.add('visually-hidden') #}
	let order_DeliveryMethod=document.getElementsByName('order[DeliveryMethod]')
	console.log(order_DeliveryMethod.length)
	let delivery='';
	if(delivery='livraison à domicile'){
		addresses.classList.remove('visually-hidden')
	}
	for(let i=0 ; i< order_DeliveryMethod.length; i++){
		
		order_DeliveryMethod[i].addEventListener('change',()=>{
			console.log(order_DeliveryMethod[i].closest('div.form-check'))
			delivery=order_DeliveryMethod[i].closest('div.form-check').children[1].innerHTML
			if(delivery=="livraison à domicile"){
				addresses.classList.remove('visually-hidden')
			}else{
				addresses.classList.add('visually-hidden')
			}
		})
		
	}

</script>

{% endblock %}
